<%- include('../partials/header') %>
<div>
    <a href="/events">Past Events</a>
    <a href="/events/new">ADD EVENT</a>
    <a href="/volunteers">Volunteers</a>
</div>
<h1>Events Page</h1>
<a href="/events/new">ADD EVENT</a>
<% if (events.length) { %>
    <% events.forEach(function(e, idx) { %>
        <div>
            <form action="/events/<%= idx %>?_method=DELETE" method="POST">
                <button type="submit" id="deletebtn">X</button>
            </form>
            <%= e.event %>
            --
            <a href="/events/<%= idx %>">Edit Event</a>
        </div><br>
        <% }) %>
        <% } else { %>
            <h3>No events have been created</h3>

    <% } %>


<%- include('../partials/footer') %>