<%- include('../partials/header') %>

<h3>Events Page</h3>
<% if (events.length) { %>
    <% events.forEach(function(e, idx) { %>
        <div>
            <form action="/events/<%= idx %>?_method=DELETE" method="POST">
                <button type="submit" id="deletebtn">X</button>
            </form>
            <%= e.event %>
            --
            <a href="/events/<%= idx %>">Edit Event</a>
        </div><br>
        <% }) %>
        <% } else { %>
            <h5>No events have been created</h5>

    <% } %>


<%- include('../partials/footer') %>