<%- include('../partials/header') %>

<h3>Event Details</h3>
<form class="deletebtn" action="/events/<%= event._id %>?_method=DELETE" method="POST">
    <button type="submit" id="deletebtn">Delete Event</button>
</form>

<section id="show-page">
    <div>Type of Event: </div>
    <div><%= event.eventType %></div>
    <div>Location: </div>
    <div><%= event.location %></div>
    <div>Trail Length: </div>
    <div><%= event.miles %></div>
    <img class="show-img" src="../images/<%= event.img %>">
    <div>Volunteers:</div>
  <ul>
    <%- event.volunteers.map(v => 
      `<li>${v.name} <small>${v.hours}</small></li>`
    ).join('') %>
  </ul>
</section>

<form action="/events/<%= event._id%>/volunteers" method="POST">
    <select name="performerId">
      <option value=""></option>
    </select>
    <button type="submit">Add to Volunteers</button>
  </form>

<% if (event.volunteers.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name.</th>
        <th>Volunteer Hours</th>
      </tr>
    </thead>
    <tbody>
      <% event.volunteers.forEach((v) => { %>
        <tr>
          <td><%= v.name %></td>
          <td><%= v.hours %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>

</form>
<form action="/events/update/<%= event._id %>" method="GET">
  <button type="submit">Update Event Details</button>
</form>
<br>

<%- include('../partials/footer') %>
