<%- include('../partials/header') %>

<h4>update an Event</h4>
<form action="/events/update/<%= event._id %>?_method=PUT" method="POST">
  <label>Type of Event</label>
  <select class="browser-default" name="eventType">
    <option value="<%= event.eventType %>" disabled selected>Currently set to: <%= event.eventType %></option>
    <option value="Cleanup">Cleanup</option>
    <option value="Group Run">Group Run</option>
  </select>
	<label>Location:
	  <input type="text" value="<%= event.location %>" name="location">
	</label><br>
	<label>Start time:
	  <input type="datetime-local" value="" name="startTime">
  </label><br>
  <!-- the volunteers input below breaks update functionality -->
  <!-- <label>Volunteers:
    <input type="text" value="<%= event.volunteers %>" name="volunteers">
  </label><br> -->
  <label>Trash Collected:
    <input type="text" value="<%= event.trashLbs %>" name="trashLbs">
  </label><br>
  <label>Miles Run:
    <input type="text" value="<%= event.miles %>" name="miles">
  </label><br>
  <label>Image file:
    <input type="text" value="<%= event.img %>" name="img">
  </label><br>
    <input type="submit" value="Add Changes">
</form>

<%- include('../partials/footer') %>

