<%- include('../partials/header') %>

    <h4>update an Event</h4>
<form action="/events/<%= event._id %>/update?_method=PUT" method="POST">
  </div>
	<label>Type of Event:
	  <input type="text" value="<%= event.eventType %>" name="eventType">
	</label><br>
	<label>Location:
	  <input type="text" value="<%= event.location %>" name="location">
	</label><br>
	<label>Start time:
	  <input type="datetime-local" value="" name="startTime">
  </label><br>
  <label>Volunteers:
      <input type="text" value="<%= event.volunteers %>" name="volunteers">
    </label><br>
    <label>Trash Collected:
        <input type="text" value="<%= event.trashLbs %>" name="trashLbs">
    </label><br>
    <label>Miles Run:
        <input type="text" value="<%= event.miles %>" name="miles">
    </label><br>
    <label>Image file:
        <input type="text" value="<%= event.img %>" name="img">
    </label><br>
    <input type="submit" value="Add Changes">
    <div class="browser-default">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Materialize Select</label>
    </div>
</form>

<%- include('../partials/footer') %>

