<%- include('../partials/header') %>

<h4>update an Volunteer</h4>
<form action="/volunteers/<%= volunteer._id %>?_method=PUT" method="POST">
  <label>Name:
    <input type="text" value="<%= volunteer.name %>" name="name">
  </label><br>
  <label>Adult:</label>
  <select class="browser-default" name="adult">
    <option value="<%= volunteer.adult %>" disabled selected>Currently set to: <%= volunteer.adult %></option>
    <option value="true">Adult</option>
    <option value="false">Minor</option>
  </select>
  <label>Email:
    <input type="text" value="<%= volunteer.email %>" name="email">
  </label><br>
  <label>Form Signed on:
    <input type="text" value="<%= volunteer.formSigned %>" name="formSigned">
  </label><br>
  <label>Form Expires on:
    <input type="text" value="<%= volunteer.formExpires %>" name="formExpires">
  </label><br>
  <label>Volunteer Hours:
    <input type="text" value="<%= volunteer.hours %>" name="hours">
  </label><br>
    <input type="submit" value="Add Changes">
</form>

<%- include('../partials/footer') %>

